<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sankari.erika.codetick">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="redirect"
                    android:scheme="codeticklogin" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name=".Activities.ProjectActivity"
            android:label="@string/project_activity_label"
            android:theme="@style/ActivityWithActionBar"
            android:parentActivityName=".Activities.MainActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>

        <activity
            android:name=".Activities.DayActivity"
            android:theme="@style/ActivityWithActionBar"
            android:parentActivityName=".Activities.BaseActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.BaseActivity" />
        </activity>

        <activity
            android:name=".Activities.LeaderboardActivity"
            android:label="@string/leaderboard_label"
            android:configChanges="orientation|screenSize"/>

        <activity android:name=".Activities.BaseActivity"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>